@import "../../assets/colors";

.dropDownMenuContainer {
    position: relative;
    display : inline-block;
    cursor  : pointer;

    .dropDownMenu {
        position        : absolute;
        bottom          : 110%;
        width           : max-content;
        display         : none;
        background-color: $primary-color-dark;
        color           : $primary-color;
        border-radius   : 5px;
        overflow        : auto;
        z-index         : 100;

        &.open {
            display: block;
        }

        .menuItem {
            padding   : 0.3rem 0.5rem;
            transition: all 0.2s;

            &:hover {
                color           : $primary-color-dark;
                background-color: $primary-color;
            }

            &:last-child:hover {
                border-radius: 0 0 5px 5px;
            }

            &:first-child:hover {
                border-radius: 5px 5px 0 0;
            }
        }
    }
}