@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "../colors";


body {
    font-family: 'Roboto', sans-serif !important;
    font-size  : 16px;
    color      : $neutral-color;
    height     : 100%;
}

h1 {
    font-size  : 24px;
    margin     : 9px 0;
    font-weight: bold;
}